<!DOCTYPE html>
<html>
<head>
    <title>Server-Sent prototype</title>
</head>
<body>
    <h1>yow streaming you the time from the server</h1>
    <h2 data-time></h2>
<script>
    // events sends messages with text/event-stream mimetype.
    var source = new EventSource('/');
    source.onmessage = function(e) {
        const streamingCurrentTime = e.data;
        const timeContainer = document.querySelector('[data-time]');
        timeContainer.innerHTML = streamingCurrentTime;
    }
</script>
</body>
</html>